.planet1 {
    top: 200px;
    left: 10%;
}
.planet2 {
    top: 460px;
    left: 50%;
}
.planet3 {
    top: 800px;
    left: 13%;
}
.planet4 {
    top: 1020px;
    right: 10%;
}
.planet5 {
    top: 1340px;
    left: 40%;
}
.planet6 {
    top: 600px;
    right: 20%;
}

html {
    background-color: black;
}